:root {
  --fontColor: #333333;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  font-weight: bold;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}
 .button {
  height: auto;
 }
.columns {
  white-space: pre-wrap;
}

.hour {
  padding-right: 15px;
  padding-top: 15px;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #F3E13F;
}

.past:hover {
  background-color: #F0DB19;
  transition: all 0.3s ease-in-out;
}

.present {
  background-color: #E5625E;
}

.present:hover {
  background-color: #E87773;
  transition: all 0.03s ease-in-out;
}

.future {
  background-color: #62A87C;
}

.future:hover {
  background-color: #7BB791;
  transition: all 0.3s ease-in-out;
}

.saveBtn {
  border: 0;
  border-left: 1px solid black;
  background-color: #6FACFD;
  color: white;
}

.saveBtn:hover {
  background-color: #4F7AFD;
  transition: all 0.3s ease-in-out;
}

textarea {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 2.5vh;
}